/*.Bootstrap.cdn.link.for.css.*/
@import "https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbGNKX0VEdVpZaGVTUFJsM2ZtMkhFa19OWDJyQXxBQ3Jtc0ttaXRfZmNDR2NWWTlzUnFYTk1LSjFWQ2trdlFVMjlXaE9sUG5sOUlrTjFoN25HeUE4alFrSnNDWGpSX1V4SzN3UHdJTkcxMkEwV2ZuUHptVzBUNlM0SEFucmhnWVBoa3ZqV1A4ZlFiOGZ0OFNUUzlzUQ&q=https%3A%2F%2Fcdn.jsdelivr.net%2Fnpm%2Fbootstrap%405.0.0-alpha1%2Fdist%2Fcss%2Fbootstrap.min.css";

/* Universal styling for all cards */
body {
  background: #DEEDF0;
}

.container {
  margin-top: 110px !important;
}

.card {
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 20px;
  transition: transform .3s;
}

.card:hover {
  transform: translateY(-15px);
  transition: transform .3s;
}

.text1 {
  font-size: 13px;
  color: #A7BBC7;
}

.info {
  line-height: 17px;
}

/*card 1 */
.text-uppercase {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.green {
  background: #4E9F3D;
}

/*card 1 */
.text-uppercase1 {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.multicolor {
  background: #4E9F3D;
}

/*Universal styling again for all product cards */
.green:hover, .multicolor:hover {
  opacity: .8;
}

.cursor {
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
