<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Admin Page</title>
  <link rel="stylesheet" href="css/admin.css">
</head>

<body>

  <div class="container">
    <div class="form">
      <h1 class="head">Welcome sir</h1>
      <h2 class="name">Who sold the met?</h2>
      <input class="input-box" type="text" name="enter input"  required autofocus>
    </div>
    <div>
      <h1 class="head2">Total Sales</h1>
      <p class="product">
        <span>Product Name</span>
        <span> Quantity</span>
      </p>
      <p class="product">
        <span>Product Name</span>
        <span>Quantity</span>
      </p>
      <p class="product">
        <span></span>
        <span>Total Revenue</span>
      </p>
      <p class="product">
        <span></span>
        <span>₹ 32,000</span>
      </p>

    </div>
  </div>
</body>
</html>
