<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cart Product</title>
  
    {% load static %}
  <link rel="stylesheet" href="{% static 'css/cart.css'%}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/header.css'%}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
     <!-- header -->
     <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
      <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)"><img src="images/evolve.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactus">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/catlogproducts">Catlog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/myorders">My-Orders</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" id="logout" href="/cuslogout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" id="logout" href="/signin">Login</a>
            </li>
            {% endif %}
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search, Products">
            <button class="btn btn-primary" type="button">Search</button>
            <a href="#"><img src="{% static 'images/user.png'%}" alt="" ></a>
            <a href="/cartproducts"><img src="{% static 'images/cart.png'%}" alt="" ></a>
          </form>
      
        </div>
      </div>
      </nav>
  
    <!-- header ends -->

    <div class="container">
      <h1>Product</h1>
  {% for i in allords %}
  {% for j in i%}
  <div class="container">
    <h1>Cart Product</h1>
    <div class="cart">
      <div class="products">
        <div class="product">
          <img src="/media/{{j.image}}">
          <div class="product-info">
            <h1 class="product-name">{{j.name}}</h1>
            <h2 class="product-price"> Price: {{j.cost}} Rs</h2>

            <p class="icon">
              {% if j.availability %}
              <form action="/testrazorpay" method="post">{% csrf_token %}
                <input type="hidden" name="productname" value="{{j.name}}">
                <input type="hidden" name="cost" id="cost" value="{{j.cost}}">
                <input type="hidden" name="qty" value="{{j.qty}}">
                <input type="hidden" name="productid" id="productid" value="{{j.product_id}}">
                <h2 class="product-quantity">Qnt:<span><h2 id="qty" ></h2></span> <input  name="prodqty" id="productqty" required value="{{j.qty}}" disabled></h2>
                <h2 class="total-price">Total Price: <span><input  name="totalcostshow" id="totalcost" value="{{j.totalcost}}Rs" required disabled></span></h2>
                <input type="hidden" name="totalcost" value="{{j.totalcost}}">
                <input class="enter-location" name="dropaddress" placeholder="Enter Pickup Location" required>
                <input type="hidden" name="noofcart" value="{{j.no_of_cart}}">
                <input type="hidden" name="image" value="{{j.image}}">
                <div>
                  <input type="checkbox" name="needinstallers" id="needinstallers">
                  <label for="needinstallers">If you need installers please tick the checkbox</label>
              </div>
                <button type="submit" id="buynow"  class="fas fa-cart-plus">Buy now</button>
                <script>a=document.getElementById('checkavailability{{j.no_of_cart}}').style.visibility='hidden'</script>
                </form>
                <h2 class="available">Available</h2>
            </p>


            {% elif j.checkingavailability %}
            <h2>Checking for availability</h2>
            <script>a=document.getElementById('checkavailability{{j.no_of_cart}}').style.visibility='hidden'</script>

          {% else %}

            <div class="product1">
              <form action="/checking" method="post">{% csrf_token %}
                <input type="hidden" name="noofcart" value="{{j.no_of_cart}}">
                <h2 class="product-quantity">Qnt: <input  name="qty" required></h2>
                <button class="check" type="submit" id="checkavailability{{j.no_of_cart}}" name="checkavailability">Check availability</button>
            </form>
            {% endif %}
              
            </div>

          </div>
        </div>
      </div>
      <form action="/removefromcart" method="post">{% csrf_token %}
        <input type="hidden" name="noofcart" value="{{j.no_of_cart}}">
        <button type="submit" id="removefromcart" name="removefromcart" class="fas fa-trash">Remove</button>
    </form>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>

    <!-- footer -->
    <footer class="footer" style="margin-bottom: 0px;">
      <div>
       <a  class="icon-foot" href="/"><i class="fas fa-home" aria-hidden="true"></i></a>
       <a  class="icon-foot" href="/myorders"><i class="fas fa-receipt" aria-hidden="true"></i></a>
       <a  class="icon-foot" href="/cartproducts"><i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
       <a  class="icon-foot" href="#"><i class="fas fa-user" aria-hidden="true"></i></a>
      </div>
    </footer>
    <!-- footer ends -->
    <script>
      qty=document.getElementById('productqty').value
      // qty2=document.getElementById('qty').innerText=qty
    </script>
</body>

</html>
