<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Delivery Location Page</title>
    <link rel="stylesheet" href="css/delivery-page.css">
  </head>
  <body>

    <div>
      <div class="container">
        <div class="formWraper">
          <div class="formDiv">
            <h1>Delivery Location</h1>
            <div class="formGroup">
              <h2>Please Enter</h2>
              <h2>Delivery Location</h2>
             <input type="text" class="box" required autofocus />
            </div>

           <button class="btn">Proceed to payment</button>

         </div>
       </div>
     </div>
   </div>

  </body>
</html>
