<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header-Footer</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/header.css'%}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
<div class="container-fluid">
  <a class="navbar-brand" href="javascript:void(0)"><img src="images/evolve.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mynavbar">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Catlog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">My-Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">Cart</a>
      </li>
    </ul>
    <form class="d-flex">
      <input class="form-control me-2" type="text" placeholder="Search, Products">
      <button class="btn btn-primary" type="button">Search</button>
      <a href="#"><img src="images/user.png" alt="" ></a>
      <a href="#"><img src="images/cart.png" alt="" ></a>
    </form>

  </div>
</div>
</nav>


  <footer class="footer">
    <div>
     <a  class="icon-foot" href="#"><i class="fas fa-home" aria-hidden="true"></i></a>
     <a  class="icon-foot" href="#"><i class="fas fa-receipt" aria-hidden="true"></i></a>
     <a  class="icon-foot" href="#"><i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
     <a  class="icon-foot" href="#"><i class="fas fa-user" aria-hidden="true"></i></a>
    </div>
  </footer>


</body>

</html>
