{% extends 'basic.html' %}

{% block body %}
<h2>Your orders </h2>
{% for orders in allords%}
{% for orders2 in orders%}
<form action="/fullpayment" method="post">{% csrf_token %}
<input type="hidden" name="orderid" value="{{orders2.order_id}}">
<input type="hidden" name="totalprice" value="{{orders2.total_price}}">
<img src="/media/{{orders2.image}}">
{{orders2.product_id}}
{{orders2.productname}}
Rs{{orders2.total_price}}
{% if orders2.hundred_percent_payment %}
<h2>Full payment done</h2>
{% elif orders2.fifty_percent_payment  %}
<button type="submit">Pay 100%</button>
{% else %}
<h2>Full payment done</h2>
{% endif %}
</form>
{% endfor %}
{% endfor %}

{% endblock %}