{% extends 'basic.html' %}
{% block body%} 
{{product.product_id}}
{{product.name}}

<img src="/media/{{product.image}}">

{{product.cost}}
<h1>{{product.description}}</h1>
<form action="/productaddedtocart" method="post">{% csrf_token %}
<input type="hidden" name="pickuplocation" value="{{product.pickup_location}}">
<input type="hidden" name="dropaddress" value="{{product.pickup_location}}">
<input type="hidden" name="image" value="{{product.image}}">
<input type="hidden" name="productid" value="{{product.product_id}}">
<input type="hidden" name="productname" value="{{product.name}}">
<input type="hidden" name="description" value="{{product.description}}">
<input type="hidden" name="cost" value="{{product.cost}}">
<button type="submit">Add to cart</button>
</form>

<form action="/productaddedtocatlog" method="post">{% csrf_token %}
<input type="hidden" name="pickuplocation" value="{{product.pickup_location}}">
<input type="hidden" name="dropaddress" value="{{product.pickup_location}}">
<input type="hidden" name="image" value="{{product.image}}">
<input type="hidden" name="productid" value="{{product.product_id}}">
<input type="hidden" name="productname" value="{{product.name}}">
<input type="hidden" name="description" value="{{product.description}}">
<input type="hidden" name="cost" value="{{product.cost}}">
<button type="submit">Add to catlog</button>
</form>
{% endblock %}