<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Seller Add product Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/seller-addproduct.css'%}">
  </head>
  <body>
{% if productadded %}
<script>alert("Product was added successfully")</script>
{% endif %}
    <div class="container">
      <div class="formWraper">
        <div class="formDiv">
          <h1>Add Product</h1>
          <form action="/addingproduct" method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="formGroup">
            <label for="product name">Product name</label>
            <input type="text" id="product name" name="name" required>
          </div>
          <div class="formGroup">
            <label for="cost">Category</label>
            <input type="text" id="category" name="category" required>
          </div>
          <div class="formGroup">
            <label for="cost">Cost</label>
            <input type="text" id="cost" name="cost" required>
          </div>
          <div class="formGroup">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" required>
          </div>
          <div class="formGroup">
            <label for="size">Size</label>
        <input type="text" id="size" name="size" required>
          </div>
          <div class="formGroup">
            <label for="material">Material</label>
            <input type="text" id="material" name="material" required>
          </div>
          <div class="formGroup">
            <label for="color">Color</label>
            <input type="text" id="color" name="color" required>
          </div>
          <div class="formGroup">
            <label for="Default pickup address">Default pickup address</label>
            <input type="text" id="Default pickup address" name="pickuplocation" required>
          </div>
          <div class="formGroup">
            <label for="product-image">Product Image</label>
            <input class="prod-img" type="file" id="product-image" name="image" required>
          </div>

          <button class="btn" type="submit">Save</button>
        </form>
          </div>
        </div>
      </div>


  </body>
</html>
