<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Seller Page</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/seller1.css'%}">
</head>

<body>
  <h1 class="head">Welcome sir</h1>
   <a href="/addproductpage"> <button class="btn1" type="button" name="button">Add Product</button></a>
  <form action="/sellerlogout" method="post">{% csrf_token %}
    <button class="btn2" type="submit" name="button">Logout</button>
  </form>

  <div class="container">
    <h1>Product Added</h1>

    <div class="product">
      {% for i in addedproducts %}
      
      <form action="/deleteproduct" method="POST"> {% csrf_token %}
        <p>
          <input type="radio" id="{{i.product_id}}" name="os">
          <label for="carpet">{{i.name}}</label>
          <input type="hidden" name="productid" value="{{i.product_id}}">
          <button class="button1" type="submit" name="button">Delete</button>
        </p>
      </form>
      
      {% endfor %}
    </div>
    <div>
      <h1 class="head2">Sales Done</h1>
      <form>
      <p class="product1">
        <span>Product Name</span>
        <span>Quantity</span>
        <span>Total</span>
      </p>
      <p class="product2">
        <span>Carpet</span>
        <span class="p1">100</span>
        <span class="p2">10000</span>
      </p>
      <p class="product3">
        <span>Tiles</span>
        <span class="p3">1000</span>
        <span class="p4">1000</span>
      </p>
      </form>
    </div>
  </div>

</body>

</html>
