<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>OTP Verfication</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/otp.css'%}">
</head>

<body>
  <div>
    <div class="container">
      <div class="formWraper">
        <div class="formDiv">
          <h1>OTP Verfication</h1>
          <script>
            // Function to generate OTP
            function generateOTP() {

              // Declare a digits variable
              // which stores all digits
              var digits = '0123456789';
              let OTP = '';
              for (let i = 0; i < 4; i++) {
                OTP += digits[Math.floor(Math.random() * 10)];
              }
              return OTP;
            }
            document.write("OTP of 4 digits: ")
            document.write(generateOTP());
          </script>



          <br>
           <div class="formGroup">

          <form name="form1" method="post" action="/sellersignin/otpverify2">{% csrf_token %}
            <input type="text" class="otpbox" placeholder="Please enter 4 digit otp" name="enteredotp" maxlength="4" id="pin" pattern="\d{4}" required />
            <input  name="requiredotp" value="{{otp}}">
            <input  name="phoneno" value="{{cust_no}}">
           </div>
            <input class="btn" type="Submit" />

          </form>
          <form action="#">
          <button class="btn1">Resend</button>
        </form>




        </div>
      </div>
    </div>
  </div>
</body>

</html>