@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Viaoda Libre", cursive;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  background-image: url("../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Background wrapper  */

.wrapper {
  background-image: url("../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Navbar  */
img,
svg {
  vertical-align: middle;
  width: 100px;
}

.logo {
  height: 49.12px;
  width: 120px;
  left: 29px;
  top: 12px;
  border-radius: 0px;
}
.navbar-light .navbar-brand {
  color: white;
}
.navbar {
  font-family: "Viaoda Libre", cursive;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(90.08deg, #000000 0%, #00042f 100%);
  color: white;
}

.nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 63px;
  text-align: center;
  color: #ffffff;
}

.right-nav span i {
  height: 0px;
  width: 31.82px;
  left: 1591px;
  top: 16px;
  border-radius: nullpx;
  cursor: pointer;
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  margin-left: 140px;
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: gray;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-around;
}

/* Brand section css  */

.brand-name-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}
.brand-name-card img {
  width: 100%;
  border-radius: 100%;
  border: 2px solid #060c45;
}

/* Footer  */
.footer-background {
  background-color: #060c45;
  color: white;
  padding: 32px;
}

.center p a {
  text-decoration: none;
  color: white;
}

.social-media i {
  padding: 10px;
}

.height {
  height: 100vh;
}

/* Display page  */
.heading {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
li {
  list-style: none;

  margin: 12px;
}
a {
  text-decoration: none;
  color: black;
}
ol,
ul {
  padding-left: 0px;
}
.card {
  font-family: "Dosis", sans-serif;
  border: none;
  color: black;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.589);
  margin: 12px;
}

.card-showcase {
  display: flex;
  justify-content: space-evenly;
}
.last-div {
  margin-bottom: 1rem;
}

span input {
  border: none;
  border-radius: 12px;
  height: 45px;
  width: 190px;
  text-align: center;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  background-color: rgba(255, 255, 255, 0.589);
  padding: 7px;
  margin-top: 12px;
  margin-left: 0px;
  margin-bottom: -6px;
}

/* Utility class  */
.center {
  text-align: center;
}

input.middle:focus {
  outline-width: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navbar-custom {
  height: 4.6rem;
}

/* Media querry  */
@media screen and (max-width: 600px) {
  .card-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 985px) {
  .navbar-light .navbar-nav .nav-link {
    margin: auto;
    color: white;
  }
}
.fa1 {
  margin: auto;
}
