@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Background wrapper  */

.wrapper {
  height: 100vh;
  background-image: url("../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Navbar  */
img,
svg {
  vertical-align: middle;
  width: 100px;
}

.logo {
  height: 49.12px;
  width: 120px;
  left: 29px;
  top: 12px;
  border-radius: 0px;
}
.navbar-light .navbar-brand {
  color: white;
}
.navbar {
  font-family: "Viaoda Libre", cursive;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(90.08deg, #000000 0%, #00042f 100%);
  color: white;
}

.nav-link {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 63px;
  text-align: center;
  color: #ffffff;
}

.right-nav span i {
  height: 0px;
  width: 31.82px;
  left: 1591px;
  top: 16px;
  border-radius: nullpx;
  cursor: pointer;
  color: white;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-light .navbar-nav .nav-link {
  margin-left: 140px;
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: gray;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-around;
}

/* neww  */

img,
svg {
  transition: all 1s ease;
  cursor: pointer;
}
.productDescription {
  margin-top: 20px;
}

.small-img {
  margin: 12px;
}

.small-img:hover {
  border: 2px solid #000000;
}

.btn {
  width: 200px;
}

.cart-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* .cart items  */

.cart-page {
  margin: 80px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: white;
  background-color: #ff523b;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #ff523b;
  font-size: 12px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

/* Media  */

@media screen and (max-width: 985px) {
  .navbar-light .navbar-nav .nav-link {
    margin: auto;
    color: white;
  }
}
